html {
    background-color:#db24ce;
}

body {
    font-family: Quicksand, lato, nunito, sans-serif;
    background-color:#d700f8;
    width: 800px;
    margin: 0 auto;
}

h1, h2 {
    margin:auto;
    padding: 30px 0;
    font-size: 45px;
    text-align: center;
}

p{
    border: blanchedalmond solid 5px;
    padding: 20px 20px;
    margin: 20px 80px;
    line-height: 35px;
    position: relative;
    text-align: center;
}

.center{
    text-align: center;
}

li{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1.3px;
    float: left;
}

img{
    display: block;
    margin: 0 auto;
}