#imageOfMe{
    border: black solid 5px;
    display: flex;
    align-items: center;
    justify-content: center
}

.every{
    font-weight: bolder;
    font-style: italic;
    text-decoration: underline;
}

.xedout{
    text-decoration: line-through;
}


.bold {
    font-weight: bold;
}

.em{
    font-style: italic;
}

.underline{
    text-decoration: underline;
}